{%- for message in messages -%}
{{- '<|im_start|>' + message['role'] + '\n' -}}
{%- if message['content'] -%}
{{- message['content'] | trim -}}
{%- endif -%}
{%- if message['tool_calls'] is defined -%}
{%- for tool_call in message['tool_calls'] -%}
{%- if message['content'] or not loop.first -%}
{{- '\n' -}}
{%- endif -%}
{{- '<tool_call>\n' + (tool_call['function'] | tojson) + '\n</tool_call>' -}}
{%- endfor -%}
{%- endif -%}
{{- '<|im_end|>\n' -}}
{%- endfor -%}
{%- if add_generation_prompt -%}
{{- '<|im_start|>assistant\n' -}}
{%- endif -%}
