{{ bos_token }}
{%- for message in messages -%}
    {%- if message['role'] == 'system' -%}
        {{ '<|turn>system\n' + message['content'] | trim + '\n<turn|>\n' }}
    {%- elif message['role'] == 'user' -%}
        {{ '<|turn>user\n' + message['content'] | trim + '\n<turn|>\n' }}
    {%- elif message['role'] == 'assistant' -%}
        {{ '<|turn>model\n' + message['content'] | trim + '\n<turn|>\n' }}
    {%- endif -%}
{%- endfor -%}
{%- if add_generation_prompt -%}
    {{ '<|turn>model\n' }}
{%- endif -%}
